body {
  width: 90%;
  margin: 0 auto;
  font-weight: 300;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: black;
}

a:hover {
  color: #48AB4D;
}

h3 {
  font-weight: 300;
  margin-top: 2em;
}

h3.centered {
  text-align: center;
}

p {
  line-height: 1.5em;
}

emphasis {
  font-style: italic;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.section {
  padding: 10px;
  border-top: 3px solid #48AB4D;
  margin-bottom: 25px;

  -webkit-box-shadow: 0px 0px 5px 2px rgba(125,125,125,0.15);
  -moz-box-shadow: 0px 0px 5px 2px rgba(125,125,125,0.15);
  box-shadow: 0px 0px 5px 2px rgba(125,125,125,0.15);
}

div.section > h3 {
  margin-top: 5px;
}

/* HEADER */
#header {
  padding-top: 15px;
  margin-bottom: .6em;
}
h1.pure-menu-heading {
  float: left;
  font-size: 32px;
  margin-top: 1px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .8);
}

.pure-menu-horizontal>ul.right {
  margin-top: 1.2em;
  margin-bottom: 0;
  float: right;
}

h1.pure-menu-heading>a {
  text-decoration: none;
  font-weight: 100;
  color: #48AB4D;
}

h1.pure-menu-heading>a>img {
  vertical-align: middle;
}

/* TESTS */
.good {
  color: rgba(104, 173, 40, 1);
}

.not-sure {
  color: rgba(236, 161, 27, 1);
}

.bad {
  color: #E9281D;
}

*.actionable {
  cursor: pointer;
}

tr.actionable:hover {
  background-color: rgb(243, 243, 243);
}

figure.comparison {
  display:inline-block;
  width: 50%;
}

figure.comparison > figcaption {
  text-align: center;
}

/* HOME */

.title {
  text-align: center;
  margin: 50px 0;
  color: grey;
  text-transform: lowercase;
}

.title .maintitle {
  font-size: 40px;
}

.title .subtitle {
  font-size: 25px;
  border-top: 1px solid;
  margin: 0 auto;
  width: 350px;
}

.preview-chart {
  height: 500px;
  margin-bottom: 30px;
}

div.release span.label {
  border: 1px solid lightgrey;
  border-radius: 17px;
  padding: 1px 5px 2px 5px;
  font-size: 11px;
}

div.release span.label.label-green {
  background-color: #90af45;
  border: 0px;
  color: white;
}

div.release > a {
  text-decoration: none;
  border: none;
}

ul.notes {
  margin-bottom: 50px;
}

ul.notes > li {
  font-size: 12px;
  margin-bottom: 5px;
}

div.credits {
  text-align: center;
  font-size: 10px;
  border-top: 1px solid lightgrey;
  color: grey;
  padding-top: 5px;
  width: 50%;
  margin: 20px auto 20px auto;
}

/* EXAMPLES */

h3.subheading {
  margin-top: 0px;
  font-size: 12px;
}

.example {
  min-width: 600px;
  margin: 0 auto 50px auto;
  border: 1px solid #CECECE;
  padding-left: 10px;
}

.example .chart {
  height: 500px;
}

.example .description, .example .actions {
  margin-top: 10px;
}

.example .hideable {
  visibility: hidden;
}

.example:hover .hideable {
  visibility: visible;
}

.example .description {
  color: grey;
}

.example .description span {
  padding: 10px 0px 0px 10px;
}

.example .chart-options {
  overflow-y: scroll;
}

.example .action-icon {
  display: block;
  text-align: right;
  font-size: 12px;
  cursor: pointer;
  padding-right: 10px;
  color: lightgrey;
}

.example .action-icon i {
  width: 20px;
  text-align: center;
}

.example .action-icon .label {
  visibility: hidden;
  margin-right: 7px;
  text-transform: lowercase;
}

.example .action-icon:hover {
  color: grey;
}
.example .action-icon:hover .label {
  visibility: visible;
}


/* PLAYGROUND */
.playground {
  left: 50px;
  right: 50px;
  position: absolute;
}

.playground-form {
  width: 320px;
}

.playground-chart {
  top: 53px;
  position: fixed;
  left: 400px;
  right: 70px;
}

.playground-chart > .chart {
  height: 500px;
  width: 800px;
}

.playground-credits {
  position: fixed;
  top: 550px;
  left: 400px;
  right: 70px;
}

.playground h3 {
  margin-bottom: 0px;
}

.playground-form .subactions {
  text-align: center;
}

.playground-form .subactions span {
  margin: 0px 2px;
}

.playground-form .url {
  text-align: center;
}

.playground-form .url input {
  outline: none;
  border: 1px solid #d3d3da;
  font-weight: 100;
  font-size: 14px;
}

form.chart-options div {
  font-size: 12px;
}

span.only-hover {
  visibility: hidden;
  display: inline-block;
}

.playground-form:hover span.only-hover {
  visibility: visible;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #48AB4D;
}


* > span.small {
  font-size: 10px;
}

* > span.right {
  margin-left: 15px;
  height: 15px;
}

div.warning {
  font-style: italic;
  text-align: center;
  background-color: lightgoldenrodyellow;
  color: rgb(173, 147, 61);
  padding: 10px 0;
}

.floating {
  position: absolute;
  margin: 0 auto;
  left: 33%;
  width: 400px;
  background-color: white;
  box-shadow: 6px 6px 10px #DDD;
  border: 1px solid #CECECE;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 100;
}

.modal {
  position: absolute;
  margin: 0 auto;
  left: 33%;
  width: 400px;
  background-color: white;
  box-shadow: 6px 6px 10px #DDD;
  border: 1px solid #CECECE;
  max-height: 500px;
  overflow-y: scroll;
  z-index: 100;
}

.floating pre {
  padding: 10px;
}

.floating .icon, .modal .icon:hover {
  cursor:pointer;
  color: lightgrey;
}

.floating .icon:hover, .modal .icon:hover {
  color: grey;
}

.floating .close-handle, .modal .close-handle {
  float: right;
  font-size: 13px;
  line-height: 8px;
  margin-right: 3px;
}

.floating .drag-handle, .modal .drag-handle {
  height: 14px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  text-transform: lowercase;
  background-color: rgb(236, 236, 236);
}

.floating > .scrollable {
  overflow-y: scroll;
  height: 400px;
}


pre.options-output, pre.data-output {
  font-size: 10px;
}

/* DIRECTIVES : OPTIONS */
.chart-options legend {
  /*height: 20px;*/
}
