body {
  width: 90%;
  margin: 0 auto;
  font-weight: 300;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: black;
}

a:hover {
  color: #48AB4D;
}

h3 {
  font-weight: 300;
  margin-top: 2em;
}

p {
}

/* HEADER */
#header {
  padding-top: 15px;
  margin-bottom: .6em;
}
h1.pure-menu-heading {
  float: left;
  font-size: 32px;
  margin-top: 1px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .8);
}

.pure-menu-horizontal>ul.right {
  margin-top: 1.2em;
  margin-bottom: 0;
  float: right;
}

h1.pure-menu-heading>a {
  text-decoration: none;
  font-weight: 100;
  color: #48AB4D;
}

h1.pure-menu-heading>a>img {
  vertical-align: middle;
}

/* TESTS */
.good {
  color: rgba(104, 173, 40, 1);
}

.bad {
  color: #E9281D;
}

*.actionable {
  cursor: pointer;
}

tr.actionable:hover {
  background-color: rgb(243, 243, 243);
}

figure.comparison {
  display:inline-block;
  width: 50%;
}

figure.comparison > figcaption {
  text-align: center;
}

/* HOME */

.title {
  text-align: center;
  margin: 50px 0;
  color: grey;
  text-transform: lowercase;
}

.title .maintitle {
  font-size: 40px;
}

.title .subtitle {
  font-size: 25px;
  border-top: 1px solid;
  margin: 0 auto;
  width: 350px;
}

.preview-chart {
  height: 500px;
  margin-bottom: 30px;
}

span.label {
  border: 1px solid lightgrey;
  border-radius: 17px;
  padding: 1px 5px 2px 5px;
  font-size: 11px;
}

span.label.label-green {
  background-color: #90af45;
  border: 0px;
  color: white;
}

div.release > a {
  text-decoration: none;
  border: none;
}

ul.notes {
  margin-bottom: 50px;
}

ul.notes > li {
  font-size: 12px;
  margin-bottom: 5px;
}

div.credits {
  text-align: center;
  font-size: 10px;
  border-top: 1px solid lightgrey;
  color: grey;
  padding-top: 5px;
  width: 50%;
  margin: 20px auto 20px auto;
}

/* EXAMPLES */

h3.subheading {
  margin-top: 0px;
  font-size: 12px;
}

.mini-charts {
  min-width: 1200px;
  max-width: 1200px;
}

.mini-chart {
  width: 115px;
  margin: 0 1px;
  display: inline-block;
  height: 100px;
  border: 1px solid #CECECE;
}

.thumbnail {
  min-width: 1300px;
  max-width: 1300px;
  box-shadow: 6px 6px 10px #DDD;
  border: 1px solid #CECECE;
}

.thumbnail .chart {
  height: 600px;
}

.thumbnail .settings {
  height: 600px;
}

.thumbnail .settings .options {
  overflow-y: scroll;
  max-height: 350px;
  font-size: 10px;
}

.thumbnail .settings .label {
  margin-top: 20px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
  color: grey;
  width: 90%;
}

.thumbnail .settings .data {
  overflow-y: scroll;
  max-height: 100px;
  font-size: 10px;
}

/* PLAYGROUND */
.follow-scroll {
  position: fixed;
}

form.chart-options div {
  font-size: 12px;
}

legend > span.only-hover {
  display: none;
}

legend:hover > span.only-hover {
  display: block;
}

legend > span.clickable {
  cursor: pointer;
}


legend > span.small {
  font-size: 10px;
  line-height: 2em;
}

legend > span.right {
  float: right;
}


