body {
  width: 90%;
  margin: 0 auto;
}

/* HEADER */
#header {
  padding-top: 15px;
  margin-bottom: .6em;
}
#header h1 {
  float: left;
  font-size: 32px;
  margin-top: 1px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .8);
}
#header nav {
  margin-top: 1.2em;
  margin-bottom: 0;
  float: right;
}

#header>h1>a {
  text-decoration: none;
  color: #48AB4D;
}

#header>h1>a>img {
  vertical-align: middle;
}

/* TESTS */
span.label.score.good {
  background-color: #90af45;
  border: 0px;
  color: white;
}

span.label.score.bad {
  background-color: red;
  border: 0px;
  color: white;
}

/* HOME */

.preview-chart {
  height: 500px;
  border: 1px solid #CECECE;
  box-shadow: 6px 6px 10px #DDD;
  margin-bottom: 30px;
}

span.label {
  border: 1px solid lightgrey;
  border-radius: 17px;
  padding: 1px 5px 2px 5px;
  font-size: 11px;
}

span.label.label-green {
  background-color: #90af45;
  border: 0px;
  color: white;
}

/* THUMBNAIL */
.mini-chart {
  height: 100px;
  border: 1px solid #CECECE;
}

.thumbnail {
  box-shadow: 6px 6px 10px #DDD;
  padding: 10px;
  border: 1px solid #CECECE;
}

.thumbnail .chart {
  height: 600px;
}

.thumbnail .settings {
  height: 600px;
  padding: 10px;
  border-left: 1px solid #CECECE;
}

.thumbnail .settings .options {
  height: 200px;
  font-size: 10px;
}

.thumbnail .settings .data {
  height: 300px;
  font-size: 10px;
}
