.axis-renderer {
  margin-bottom: 10px;
}

.axis-renderer .summary {
  cursor: pointer;
}

.axis-renderer .summary .title {
  background-color: white;
  padding: 0px 12px 0px 8px;
}

.axis-renderer .detail {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  padding: 8px 0px 5px 0px;
  margin-top: -7px;
}

.axis-renderer .detail * {
  font-size: 10px;
}
