.series-renderer {
  margin-bottom: 10px;
}

.series-renderer .summary {
}

.series-renderer .summary .color-preview {
  background-color: rgb(188, 189, 34);
  padding: 0 7px;
  border-radius: 8px;
}

.series-renderer .summary .pre-title {
  background-color: white;
  padding: 0px 0px 10px 1px;
}

.series-renderer .summary .title {
  background-color: white;
  padding: 0px 12px 0px 8px;
  cursor: pointer;
}

.series-renderer .summary .remove {
  display: none;
  float: right;
  color: grey;
  cursor: pointer;
  background-color: white;
  padding-left: 5px;
  padding-bottom: 1px;
}

.series-renderer:hover .remove {
  display: block;
}

.series-renderer .summary:hover .remove:hover {
  color: rgb(207, 32, 32);
}

.series-renderer .detail {
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  padding: 8px 0px 5px 0px;
  margin-top: -7px;
}

.series-renderer .detail * {
  font-size: 10px;
}
