language: node_js
node_js:
- '6.0'
dist: trusty
addons:
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- ./kickstart.sh
script: ./travis.sh
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8e10fa2e1361dec93c24
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: true     # default: false
