language: node_js
node_js:
- '0.10'
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- npm install
- sudo pip install pillow
script: grunt travis
addons:
  firefox: '38.0'
env:
  global:
    secure: dB3WMokJn/Z5d5Hpal4i+xtXw/8af7BxCyLL7h2fG4LlDgqke9QDL8t4RL6oEodAoMp1KIwASl2MQqnjgUOO+XzB+WCje9CiA22BIj3Q7CAgjImbPzY6i1ijDZJ8YwfHbdvzqGkZUL/INEmwCcrlsQGKagsHXNQ3n3uejzTnfj0=
after_script:
  - bash test/visual/scripts/send.sh
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8e10fa2e1361dec93c24
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: true     # default: false
