.axis text {
  font: 10px monospace;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.dot {
  stroke: white;
  stroke-width: 1.5;
}

.linechart #tooltip {
  /*position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;*/
}

.linechart #tooltip.hidden {
  display: none;
}