@import 'colors';
$primary-name: Light Green;
$primary: palette($primary-name, 600);
$primary-light: palette($primary-name, 400);
$primary-lighter: palette($primary-name, 300);
$primary-lighterest: palette($primary-name, 100);
$primary-dark: palette($primary-name, 900);

$secondary-name: Grey;
$secondary: palette($secondary-name, 400);
$secondary-dark: palette($secondary-name, 700);
$secondary-light: palette($secondary-name, 100);

@import 'utils';
@import 'grid';
@import 'markdown-to-html';
@import 'typo';
@import 'buttons';

// General layout, for pages actually are ng-views
body, html {
  margin: 0;
  padding: 0;
}

$header-height: 50px;

.header-bar {
  position: fixed;
  width: 100%;
  background-color: $secondary-light;
  height: $header-height;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  > [class^="col"] {
    padding: 0px 20px;
  }

  .header-title {
    font-size: 1.1em;
    border-bottom: none;
  }

  .logo {
    @include logo(100px);
    display: inline-block;
  }

  a {
    border: none;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.content {
  .banner {
    padding-top: 80px;
    background-color: #F6F6F6;
    background: linear-gradient(0deg, $primary, $primary-lighter);
    padding-bottom: 10px;

    h1, h3 {
      text-align: center;
      color: white;
    }
  }

  .section {
    width: calc(100% - 100px);

    &:not(.credits) {
      margin: 100px auto;
    }

    // For anchor links so they're not hidden behind the header
    &[id] {
      padding-top: $header-height - 5px;
      margin-top: -$header-height + 5px;
    }
  }
}

.home {
  @import 'home';
}

.examples {
  @import 'examples';
}

.docs {
  @import 'docs';
}

.migration {
  @import 'docs';
}

.credits {
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
  color: $secondary;
}
