.header-bar .logo {
  height: 50px;
  width: 50px;
  background-size: 50px;
}

.banner {
  .links {
    text-align: center;

    .link {
      display: inline-block;

      margin-right: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      padding: 2px 10px;

      &:hover {
        background-color: white;

        a {
          color: $primary;
        }
      }

      a {
        border: none;
      }
    }
  }
}
