body {
  width: 90%;
  margin: 0 auto;
  font-weight: 300;
}

a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: black;
}

a:hover {
  color: #48AB4D;
}

h3 {
  font-weight: 300;
  margin-top: 2em;
}

h3.centered {
  text-align: center;
}

p {
  line-height: 1.5em;
}

emphasis {
  font-style: italic;
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.section {
  padding: 10px;
  border-top: 3px solid #48AB4D;
  margin-bottom: 25px;

  -webkit-box-shadow: 0px 0px 5px 2px rgba(125,125,125,0.15);
  -moz-box-shadow: 0px 0px 5px 2px rgba(125,125,125,0.15);
  box-shadow: 0px 0px 5px 2px rgba(125,125,125,0.15);
}

div.section > h3 {
  margin-top: 5px;
}

/* HEADER */
#header {
  padding-top: 15px;
  margin-bottom: .6em;
}
h1.pure-menu-heading {
  float: left;
  font-size: 32px;
  margin-top: 1px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, .8);
}

.pure-menu-horizontal>ul.right {
  margin-top: 1.2em;
  margin-bottom: 0;
  float: right;
}

h1.pure-menu-heading>a {
  text-decoration: none;
  font-weight: 100;
  color: #48AB4D;
}

h1.pure-menu-heading>a>img {
  vertical-align: middle;
}

.pure-menu li {
  border-bottom: 2px solid transparent;
}

.pure-menu li.internal.active {
  border-bottom: 2px solid hsla(123, 38%, 48%, 1);
}

.pure-menu li.internal:hover {
  border-bottom: 2px solid hsla(123, 38%, 48%, 0.5);
}

.pure-menu li a:hover, .pure-menu li a:focus {
  background: none;
  outline: none;
}

.pure-menu li:not(.internal):hover a {
  color: hsla(0, 0%, 50%, 1);
}

.pure-menu li:not(.internal):hover a i.fa{
  color: hsla(123, 38%, 48%, 1);
}

/* TESTS */
.good {
  color: rgba(104, 173, 40, 1);
}

.not-sure {
  color: rgba(236, 161, 27, 1);
}

.bad {
  color: #E9281D;
}

*.actionable {
  cursor: pointer;
}

tr.actionable:hover {
  background-color: rgb(243, 243, 243);
}

figure.comparison {
  display:inline-block;
  width: 50%;
}

figure.comparison > figcaption {
  text-align: center;
}

/* HOME */

.title {
  text-align: center;
  margin: 50px 0;
  color: grey;
  text-transform: lowercase;
}

.title .maintitle {
  font-size: 40px;
}

.title .subtitle {
  font-size: 25px;
  border-top: 1px solid;
  margin: 0 auto;
  width: 350px;
  padding-top: 4px;
}

.preview-chart {
  height: 500px;
  margin-bottom: 30px;
}

div.release span.label {
  border: 1px solid lightgrey;
  border-radius: 17px;
  padding: 4px 5px 2px 5px;
  font-size: 11px;
}

div.release span.label.label-green {
  background-color: #90af45;
  border: 0px;
  color: white;
}

div.release > a {
  text-decoration: none;
  border: none;
}

ul.notes {
  margin-bottom: 50px;
}

ul.notes > li {
  font-size: 12px;
  margin-bottom: 5px;
  padding-top: 3px;
}

div.credits {
  text-align: center;
  font-size: 10px;
  border-top: 1px solid lightgrey;
  color: grey;
  padding-top: 5px;
  width: 50%;
  margin: 20px auto 20px auto;
}

/* EXAMPLES */

h3.subheading {
  margin-top: 0px;
  font-size: 12px;
}

.example {
  min-width: 600px;
  height: 550px;
  width: 90%;
  margin: 0 auto 50px auto;
  border: 1px solid #CECECE;
  padding-left: 10px;
}

.example .chart {
  height: 500px;
}

.example .description, .example .actions {
  margin-top: 10px;
}

.example .hideable {
  visibility: hidden;
}

.example:hover .hideable {
  visibility: visible;
}

.codepen-form.right {
  text-align: right;
  margin-right: 30px;
}

button.codepen-button {
  background: transparent;
  border: 1px solid hsla(84, 43%, 54%, 1);
  color: hsla(84, 43%, 54%, 1);
  border-radius: 12px;
  padding-left: 5px;
  font-size: 10px;
}

button.codepen-button:hover {
  background: hsla(84, 43%, 54%, 1);
  color: white;
}

.example .description {
  color: grey;
}

.example .description span {
  padding: 10px 0px 0px 10px;
}

.example .chart-options {
  overflow-y: scroll;
}

.example .action-icon {
  display: block;
  text-align: right;
  font-size: 12px;
  cursor: pointer;
  padding-right: 10px;
  color: lightgrey;
}

.example .action-icon i {
  width: 20px;
  text-align: center;
}

.example .action-icon .label {
  visibility: hidden;
  margin-right: 7px;
  text-transform: lowercase;
}

.example .action-icon:hover {
  color: grey;
}
.example .action-icon:hover .label {
  visibility: visible;
}

form.chart-options div {
  font-size: 12px;
}

span.only-hover {
  visibility: hidden;
  display: inline-block;
}

.playground-form:hover span.only-hover {
  visibility: visible;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: #48AB4D;
}


* > span.small {
  font-size: 10px;
}

* > span.right {
  margin-left: 15px;
  line-height: 25px;
  float: right;
}

pre.options-output, pre.data-output {
  font-size: 10px;
}
