<div class='units-row'>
  <h3>Versatile charts for AngularJS</h3>
  <div class='unit-100 preview-chart'>
    <linechart data='data' options='options'></linechart>
  </div>
  <div class='unit-100'>
    <h3>What's that ?</h3>
    <p>Built on top of D3.js and AngularJS, <emphasis>n3-charts.line-chart</emphasis> directive creates beautiful charts in AngularJS applications. It is simple and interactive.</p>
    <h3>How to use ?</h3>
    <p>The <a href="http://github.com/n3-charts/line-chart" target="_blank">GitHub page <i class='icon-external-link'></i></a> contains an exhaustive, comprehensive guide to use the line-chart directive. For several use cases, please check the <a href="#/examples">examples</a> section.</p>
    <h3>Other stuff</h3>
    <h5>Release notes</h5>

    <span class='label label-green'>1.0.5 (decisive-diary)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Code is now written in CoffeeScript</li>
      <li><i class="icon-li icon-ok"></i>Tests now use the Mocha framework</li>
    </ul>

    <span class='label'>1.0.4 (conceptual-cork)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Configurable line thickness</li>
      <li><i class="icon-li icon-ok"></i>Label function available for vertical axes too</li>
      <li><i class="icon-li icon-ok"></i>Optional color setting for axes</li>
      <li><i class="icon-li icon-ok"></i>Legend icons are now clipped</li>
      <li><i class="icon-li icon-ok"></i>Demo page now uses <a href="http://lorem--ipsum.github.io/apojop/#/">APOJOP</a> for pretty printing.</li>
      <li><i class="icon-li icon-ok"></i>Upgraded to latest AngularJS (1.2.15) and D3 (3.4.3)</li>
      <li><i class="icon-li icon-ok"></i>Minor bug fixes (#54, #55)</li>
    </ul>

    <span class='label'>1.0.3 (adiabatic-acrobat)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Stripes for areas</li>
      <li><i class="icon-li icon-ok"></i>A better legend (with distinct symbols for series types)</li>
      <li><i class="icon-li icon-ok"></i>A better thumbnail mode (no dots, less margins, more sparklines-like result)</li>
    </ul>
    <span class='label'>1.0.2 (sassy-saucer)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Thumbnail mode</li>
    </ul>
    <span class='label'>1.0.0-beta (mighty-mole)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Configurable abscissas tick labels</li>
      <li><i class="icon-li icon-ok"></i>Configurable abscissas key</li>
      <li><i class="icon-li icon-ok"></i>Logarithmic vertical axes</li>
      <li><i class="icon-li icon-ok"></i>Automatic colors assignment if none found</li>
      <li><i class="icon-li icon-ok"></i>Zero-height columns trigger tooltips anyway</li>
    </ul>
    <span class='label'>0.2</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Date values for abscissas</li>
      <li><i class="icon-li icon-ok"></i>Line series</li>
      <li><i class="icon-li icon-ok"></i>Area series</li>
      <li><i class="icon-li icon-ok"></i>Column series</li>
      <li><i class="icon-li icon-ok"></i>Second vertical axis (on the right)</li>
      <li><i class="icon-li icon-ok"></i>Interpolation for line and area series</li>
      <li><i class="icon-li icon-ok"></i>Interactive legend</li>
    </ul>
    <h5>Who's behind this ?</h5>
    <p>This project is developped with love by <a href="https://github.com/lorem--ipsum"><i class='icon-github'></i> Sébastien Fragnaud</a> (aka lorem--ipsum).</p>
  </div>
</div>
