<div class='units-row'>
  <h3>Versatile charts for AngularJS</h3>
  <div class='unit-100 preview-chart'>
    <linechart data='data' options='options'></linechart>
  </div>
  <div class='unit-100'>
    <h3>What's that ?</h3>
    <p>Built on top of D3.js and AngularJS, <emphasis>n3-charts.line-chart</emphasis> directive creates beautiful charts in AngularJS applications. It is simple and interactive.</p>
    <h3>How to use ?</h3>
    <p>The <a href="http://github.com/n3-charts/line-chart">GitHub page <i class='icon-external-link'></i></a> contains an exhaustive, comprehensive guide to use the line-chart directive. For several use cases, please check the <a href="#/examples">examples</a> section.</p>
    <h3>Other stuff</h3>
    <h5>Release notes</h5>
    <span class='label label-data'>1.0.3 (adiabatic-acrobat)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Stripes for areas</li>
      <li><i class="icon-li icon-ok"></i>A better thumbnail mode (no dots, less margins, more sparklines-like result)</li>
    </ul>
    <span class='label label-data'>1.0.2 (sassy-saucer)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Thumbnail mode</li>
    </ul>
    <span class='label label-data'>1.0.0-beta (mighty-mole)</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Configurable abscissas tick labels</li>
      <li><i class="icon-li icon-ok"></i>Configurable abscissas key</li>
      <li><i class="icon-li icon-ok"></i>Logarithmic vertical axes</li>
      <li><i class="icon-li icon-ok"></i>Automatic colors assignment if none found</li>
      <li><i class="icon-li icon-ok"></i>Zero-height columns trigger tooltips anyway</li>
    </ul>
    <span class='label label-data'>0.2</span>
    <ul class="icons-ul">
      <li><i class="icon-li icon-ok"></i>Date values for abscissas</li>
      <li><i class="icon-li icon-ok"></i>Line series</li>
      <li><i class="icon-li icon-ok"></i>Area series</li>
      <li><i class="icon-li icon-ok"></i>Column series</li>
      <li><i class="icon-li icon-ok"></i>Second vertical axis (on the right)</li>
      <li><i class="icon-li icon-ok"></i>Interpolation for line and area series</li>
      <li><i class="icon-li icon-ok"></i>Interactive legend</li>
    </ul>
    <h5>Who's behind this ?</h5>
    <p>For now, n3-charts is a very young library initiated by <a href="https://github.com/leon"><i class='icon-github'></i> Leon Radley</a>, <a href="https://github.com/warnerandy"><i class='icon-github'></i> Andy Warner</a> and <a href="https://github.com/lorem--ipsum"><i class='icon-github'></i> Sébastien Fragnaud</a>. We hope it will gather some other people to help us building more awesomeness !</p>
  </div>
</div>