.axis {
  font: 10px Courier;
  shape-rendering: crispEdges;

  > path {
    fill: none;
    stroke: black;
  }

  > .tick {
    > text {
      fill: black;
    }

    > line {
      stroke: black;
    }
  }
}
