.chart-tooltip {
  position: absolute;

  opacity: 0;
  background-color: lightgrey;
  height: 20px;

  min-width: 60px;
  padding: 0px 4px 1px 4px;

  transform: translateX(-50%);
  border-radius: 2px;
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;

  > .arrow {
    top: 100%;

    // Not sure of this, it seems to render slightly better...
    // We might abandon the arrow down the road if it keeps being a sissy and
    // not align properly.
    left: calc(50% + 1px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: lightgrey;
    border-width: 5px;
    margin-left: -5px;
  }

  &.positive {
    margin-top: -30px;
  }

  &.negative {
    margin-top: 10px;

    > .arrow {
      margin-top: -30px;
      transform: rotate(180deg);
    }
  }

  > .abscissas, > .value {
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  }

  > .abscissas {
    margin-right: 5px;
    border-right: 1px solid;
    padding-right: 5px;
  }
}
