<!DOCTYPE HTML>
<html lang="en" ng-app="example">
<head>
  <title>n3-charts</title>
  {% block headStart %}{% endblock %}
  <link rel="stylesheet" type="text/css" media="screen" href="/build/LineChart.css">
  <style type="text/css">
  .example {
    width: calc(100% - 200px);
    height: 300px;
    border: 1px solid lightgrey;
    margin: 10px auto;
    padding: 10px 10px 30px 10px;
  }
  </style>
  {% block headEnd %}{% endblock %}
</head>

<body ng-controller='ExamplesCtrl'>
  {% block bodyStart %}{% endblock %}
  <div class="example">
    <linechart data="example.data" options="example.options"></linechart>
  </div>
  {% block bodyCenter %}{% endblock %}

  <script src="/angular/angular.js"></script>
  <script src="/d3/d3.min.js"></script>
  <script src="/build/LineChart.js"></script>
  <script type="text/javascript">
  angular.module('example', {% block ngModules %}['n3-line-chart']{% endblock %})
  .controller('ExamplesCtrl', function($scope) {
    $scope.example = {
      data: {% block data %}{}{% endblock %},
      options: {% block options %}{}{% endblock %},
      label: "{% block name %}{% endblock %}"
    };
    {% block ngController %}{% endblock %}
  });
  </script>
  {% block bodyEnd %}{% endblock %}
</body>
</html>
