@import 'palette';
$primary-name: Light Green;
$primary: palette($primary-name, 600);
$primary-light: palette($primary-name, 400);
$primary-lighter: palette($primary-name, 300);
$primary-dark: palette($primary-name, 900);

$secondary-name: Grey;
$secondary-dark: palette($secondary-name, 700);
$secondary: palette($secondary-name, 400);
$secondary-light: palette($secondary-name, 100);

@import 'utils';
@import 'grid';
@import 'typo';
@import 'buttons';
@import 'white-chart';

body, html {
  margin: 0;
  padding: 0;
}

.header-bar {
  position: fixed;
  background-color: $secondary-light;
  width: 100%;
  height: 50px;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  > [class^="col"] {
    padding: 0px 20px;
  }

  .header-title {
    font-size: 1.1em;
    border-bottom: none;
  }

  .logo {
    @include logo(100px);
    display: inline-block;
  }
}


.banner {
  padding-top: 80px;
  background-color: #F6F6F6;
  background: linear-gradient(0deg, $primary, $primary-lighter);
  padding-bottom: 40px;

  h1, h3 {
    text-align: center;
    color: white;
  }

  .buttons {
    text-align: center;
    margin-top: 30px;

    > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .chart {
    height: 250px;
  }
}

.section {
  width: calc(100% - 100px);
  margin: 100px auto;
}

.improvements {
  .list-item {
    margin-bottom: 30px;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 2px solid $primary;

    > * {
      line-height: 1em;
    }

    .item-title {
      color: palette(Grey, 500);
    }

    .item-desc {
      color: palette(Grey, 700);
    }
  }
}

.credits {
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
  color: $secondary;
}
