a.button, button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  height: 30px;
  border: none;
  font-size: 1em;
  line-height: 1.9em;
  padding: 8px 10px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;

  background-color: white;
  color: $primary;

  &.primary {
    color: white;
    background-color: $primary;
    border-radius: 2px;
  }
}


.codepen-form {
  .codepen-button {
    width: 32px;
    white-space: nowrap;
    overflow: hidden;
    height: 32px;
    opacity: 0.4;
  }

  &:hover .codepen-button {
    width: initial;
    opacity: 1;
  }
}
