body, html {
  font-family: Roboto,'Helvetica Neue',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-weight: 300;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

p {
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  line-height: 1.3em;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: $primary;
  border-bottom: 1px solid;

  &:hover {
    color: $primary-dark;
  }

  &.quiet {
    color: $secondary;
    font-weight: 100;
    border-bottom: 1px dashed;
  }

  &.bright {
    color: white;
  }

  &.tiny {
    font-size: 0.8em;
  }

  &.active {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0px;
      right: 0px;
      height: 2px;
      background-color: $primary;
      bottom: -9px;
    }
  }
}

code {
  background-color: hsl(0, 0, 20);
  color: lightgrey;
  padding: 10px;
  display: block;
}
