.chart {
  .axis {
    > path {
      stroke: white;
    }

    > .tick {
      > text {
        fill: white;
      }

      > line {
        stroke: white;
      }
    }
  }
}

.chart-legend {
  color: white!important;
}
