<div class='pure-g example' ng-repeat='example in examples'>
  <div class="description pure-u-1-2"><span>{{example.label}}</span></div><div class="actions hideable pure-u-1-2">
    <codepen-button
      class="right"
      codepen-data="example.data"
      codepen-options="example.pristineOptions"
      codepen-name="example.label"
      title="Open example in CodePen"
    ></codepen-button>
  </div>
  <div class="chart pure-u-2-3">
    <linechart data='example.data' options='example.options'></linechart>
  </div>
  <div class="chart-options pure-u-1-3">
    <pre class="options-output" ng-bind-html='"$scope.options = " + (example.pristineOptions | prettyUnsafe:50:"columns") + ";" | safe'></pre>
  </div>
</div>
<div class="pure-u-1">
  <div class="credits">Made with love and care by <a href="https://github.com/lorem--ipsum"><i class='fa fa-github'></i> S&eacute;bastien Fragnaud</a>.</div>
</div>
