<div class='pure-u-1'>
  <h3><a ng-href="{{link}}">{{description}}</a></h3>
  <p>On this page, you'll find several test cases. Each of them has been played on the Travis CI server during last build, either it failed or not. The score near each test's name corresponds to a pixel diff between the two images. Lower is better. Click on a line (alt-click for all) to see the expected and computed images.</p>
</div>

<div class="pure-u-1">
  <table class="pure-table pure-table-horizontal" style="width: 100%">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th>Comment</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="test in tests" class="actionable" ng-click="test.expanded ? collapse(test, $event) : expand(test, $event)">
        <td><i class="fa fa-fw" ng-class="getTestClass(test)"></i></td>
        <td>{{test.name | firstUp}}</td>
        <td>{{test.description}}</td>
        <td>{{test.comment || '-'}}</td>
        <td>{{test.score | round}}</td>
      </tr>
      <tr ng-if="test.expanded" ng-repeat-end>
        <td colspan="5">
          <figure class="comparison">
            <img ng-src="data/{{test.expected_image}}">
            <figcaption>Expected</figcaption>
          </figure><figure class="comparison">
            <img ng-src="data/{{test.computed_image}}">
            <figcaption>Computed</figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" style="text-align:right;">
          {{tests.length}} tests ({{(tests | filter:{status:'warning'}).length}} maybe failed, {{(tests | filter:{status:'error'}).length}} failed)</td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="pure-u-1">
  <div class="credits">Made with love and care by <a href="https://github.com/lorem--ipsum"><i class='fa fa-github'></i> S&eacute;bastien Fragnaud</a>.</div>
</div>
