<div class="axis-renderer">
  <div class="summary" ng-click="expanded = !expanded">
    <span class="title">{{key}} axis</span>
  </div>
  <div class="detail" ng-show="expanded">
    <div class="pure-control-group">
      <label>Type</label>
      <select ng-show="key != 'x'" ng-model="axis.type" ng-options="type for type in yTypes"></select>
      <select ng-show="key == 'x'" ng-model="axis.type" ng-options="type for type in xTypes"></select>
    </div>

    <div class="pure-control-group">
      <label>Min</label>
      <array-input up-down value='axis.min'>
    </div>

    <div class="pure-control-group">
      <label>Max</label>
      <array-input up-down value='axis.max'>
    </div>

    <div class="pure-control-group">
      <label>Ticks</label>
      <array-input up-down value='axis.ticks'>
    </div>
  </div>
</div>
