<div class="series-renderer">
  <div class="summary">
    <span class="pre-title"></span>
    <span class="color-preview" ng-style="{'background-color': series.color}"></span>
    <span class="title" ng-click="expanded = !expanded">{{series.label || series.y}}</span>
    <span class="remove" ng-click="remove()"><i class="fa fa-times-circle"></i></span>
  </div>
  <div class="detail" ng-show="expanded">
    <div class="pure-control-group">
      <label>Value field</label>
      <select ng-model="series.y" ng-options="field for field in fields"></select>
    </div>

    <div class="pure-control-group">
      <label>Label</label>
      <input type="text" ng-model="series.label">
    </div>

    <div class="pure-control-group">
      <label>Type</label>
      <select ng-model="series.type" ng-options="type for type in types"></select>
    </div>

    <div class="pure-control-group">
      <label>Color</label>
      <input type="color" ng-model="series.color">
    </div>

    <div class="pure-control-group">
      <label>Axis</label>
      <select ng-model="series.axis" ng-options="axis for axis in axes"></select>
    </div>

    <div class="pure-control-group" ng-show="series.type != 'column'">
      <label>Dots</label>
      <input type="checkbox" ng-model="series.drawDots">
    </div>

    <div class="pure-control-group" ng-show="series.type != 'column'">
      <label>Dashed</label>
      <input type="checkbox" ng-model="isDashed">
    </div>

    <div class="pure-control-group">
      <label>Visible</label>
      <input type="checkbox" ng-model="series.visible">
    </div>

    <div class="pure-control-group" ng-show="series.type != 'column'">
      <label>Thickness</label>
      <input type="range" min="1" max="10" step="1" ng-model='thickness'>
    </div>

    <div class="pure-control-group" ng-if="series.type =='area'">
      <label>Striped</label>
      <input type="checkbox" ng-model="series.striped">
    </div>
  </div>
</div>
