<div class="series-renderer">
  <div class="summary" ng-click="expanded = !expanded">
    <i class="fa" ng-class="expanded ? 'fa-caret-down' : 'fa-caret-right'"></i> {{series.label || series.y}}
  </div>
  <div class="detail" ng-show="expanded">
    <div class="pure-control-group">
      <label>Value field</label>
      <select ng-model="series.y" ng-options="field for field in fields"></select>
    </div>

    <div class="pure-control-group">
      <label>Label</label>
      <input type="text" ng-model="series.label">
    </div>

    <div class="pure-control-group">
      <label>Type</label>
      <select ng-model="series.type" ng-options="type for type in types"></select>
    </div>

    <div class="pure-control-group">
      <label>Color</label>
      <input type="color" ng-model="series.color">
    </div>

    <div class="pure-control-group">
      <label>Axis</label>
      <select ng-model="series.axis" ng-options="axis for axis in axes"></select>
    </div>

    <div class="pure-control-group">
      <label>Visible</label>
      <input type="checkbox" ng-model="series.visible">
    </div>

    <div class="pure-control-group" ng-show="series.type != 'column'">
      <label>Thickness</label>
      <input type="range" min="1" max="10" step="1" ng-model='thickness'>
      <!-- <input type="text" ng-model="series.thickness"> -->
    </div>
  </div>
</div>
