<div class="stack-renderer">
  <div class="summary" ng-click="expanded = !expanded">
    <span class="title">Stack ({{stack.series.length}} series)</span>
  </div>
  <div class="detail" ng-show="expanded">
    <div class="pure-control-group">
      <label>Axis</label>
      <select ng-model="stack.axis" ng-options="axis for axis in axes"></select>
    </div>
    <div class="pure-control-group" ng-repeat="s in availableSeries[stack.axis]">
      <label>{{s.label}}</label>
      <input ng-disabled="s.disabled" type="checkbox" ng-model="s.selected" ng-change="toggleSeries(s)">
    </div>
  </div>
</div>
