<!DOCTYPE HTML>
<html lang="en" ng-app="example">
<head>
  <title><%=name%> - AngularJS</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/build/LineChart.css">
  <style type="text/css">
  .example-chart, .example-controls {
    width: 600px;
    margin: 10px auto;
    padding: 10px 10px 30px 10px;
  }

  .example-chart {
    height: 300px;
    border: 1px solid lightgrey;
  }
  <%=data.style%>
  </style>
</head>

<body ng-controller='ExampleCtrl'>
  <a href="/test/e2e#<%=name%>">&lt;&nbsp;All examples</a>
  <%=data.angular.html%>

  <script src="/angular/angular.js"></script>
  <script src="/d3/d3.js"></script>
  <script src="/build/LineChart.js"></script>
  <script type="text/javascript">

  angular.module('example', ['n3-line-chart'])
  .controller('ExampleCtrl', function(data, options) {
    return <%=data.angular.js%>;
  }(<%=data.data%>, <%=data.options%>));
  </script>
</body>
</html>
