<div class="examples">
  <div class="banner">
    <div class="links">
      <div class="link" ng-repeat="example in examples">
        <a href="" anchor-link="{{example.id}}" class="bright">{{example.label}}</a>
      </div>
    </div>
  </div>

  <div class="section example" id="{{example.id}}" ng-repeat="example in examples">
    <h2>{{example.label}} <codepen-button
      class="right"
      codepen-data="data"
      codepen-options="example.options"
      codepen-name="example.label"
      version="version"
      title="Open example in CodePen"
    ></codepen-button></h2>

    <div class="row">
      <div class="col-70 chart col-100-when-small">
        <linechart data='data' options='example.options'></linechart>
      </div>
      <div class="col-30 options col-100-when-small">
        <pre><code class="lang-js" highlight-js>$scope.options = {{(example.options | indent:40:"columns") + ";"}}</code></pre>
      </div>
    </div>
  </div>
</div>
